# Dependency directory
node_modules
_node_modules
.pnp.cjs

# testing
/coverage

# build
dist
esm

stats.html

# misc
*.tsbuildinfo
*.tgz
*.map
*.log
*.DS_Store
.eslintcache

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
