# Dependency directory
node_modules
_node_modules
.pnp.cjs
pnpm-lock.yaml

# testing
/coverage

# build
dist
esm
.next

stats.html
playwright-report

# docs

docs/.cache
docs/.docusaurus
docs/build
docs/docs/api
docs/node_modules
docs/package.json
docs/package-lock.json
docs/public
docs/typedoc-sidebar.js

# misc
*.tsbuildinfo
*.tgz
*.map
*.log
*.DS_Store
